@import "./settings";
@import "./components/header";
@import "./components/logo";
@import "./components/publication";
@import "./components/likes"; // @import "./components/card";
body {
  background: $black2;
  color: $white;
}
a {
  text-decoration: none;
  color: white;
}
