header {
  background: rgb(54, 54, 54);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $black2;
  box-shadow: 0px 0px 18px 0px;
  margin-bottom: 30px;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-between;
  a {
    &:hover {
      background-color: rgba(94, 94, 94, 0.5);
    }
  }
  li {
    &:hover {
      background-color: rgba(94, 94, 94, 0.5);
    }
  }
}
.faLogout {
  display: none;
}
/* Téléphones */
@media screen and (max-width: 760px) {
  a {
    width: 30%;
    .logo {
      height: 50px;
      width: 120px;
    }
  }
  .navigation {
    text-align: right;
    // flex-direction: column;
    width: 40%;
    display: flex;
    justify-content: space-between;
    a {
      text-align: left;
      width: 60%;
    }
  }
  .faLogout {
    display: block;
  }
  li {
    display: none;
  }
  .spanUsername {
    display: none;
  }
}
/* Tablettes */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  header {
    width: 98%;
    height: auto;
  }
}
