header {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}
.navigation {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.faLogout {
  display: none;
}
/* Téléphones */
@media screen and (max-width: 760px) {
  a {
    width: 30%;
    .logo {
      height: 50px;
      width: 120px;
    }
  }
  .navigation {
    text-align: right;
    // flex-direction: column;
    width: 40%;
    display: flex;
    justify-content: space-between;
    a {
      text-align: left;
      width: 60%;
    }
  }
  .faLogout {
    display: block;
  }
  li {
    display: none;
  }
  .spanUsername {
    display: none;
  }
}
/* Tablettes */
@media screen and (min-width: 760px) and (max-width: 1024px) {
  header {
    width: 98%;
    height: auto;
  }
}
