.faThumbsUpGreen {
  color: green;
}
.fa-thumbs-up {
  cursor: pointer;
}
.fa-thumbs-down {
  cursor: pointer;
}
.faThumbsDownRed {
  color: red;
}
.disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}
