.logo {
  @include verticalCenter;
  margin-left: 30%;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
  background: url(../../assets/logo/icon-left-font.svg) center/cover;
  height: 50px;
}
@media screen and (max-width: 768px) {
  a {
    .logo {
      height: 40px;
      width: 150px;
    }
  }
}
