h1 {
  width: 100%;
  font-size: 1.3rem;
}
section {
  width: 60%;
  padding: 15px;
  margin: auto;
}
aside {
  padding: 15px;
}
.error {
  color: red;
}
.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  .createPostContainer {
    border-radius: 10px;
    box-shadow: 4px 0px 15px 5px rgba(0, 0, 0, 0.42);
    // background-color: $white;
    background-color: $white;
    margin: 15px;
    h1 {
      color: rgb(219, 37, 0);
      padding: 15px;
    }
    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 15px 30px;
      label {
        display: none;
      }
      p {
        color: red;
        font-size: 0.8rem;
        width: 200px;
      }
      .picker-container {
        position: relative;
        .input-style {
          margin: 10px 0px;
          border: 1px solid;
          width: 80%;
          &:focus {
            border: 1px solid rgb(255, 30, 0);
            box-shadow: 0 0 10px #b62c2c;
          }
        }
        .emoji-icon {
          cursor: pointer;
          position: absolute;
          top: 38%;
          right: 15%;
        }
      }
      .footerPubli {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        img {
          width: auto;
          height: 40px;
          color: black;
          font-size: 0.7rem;
        }
        .delete_image {
          padding-left: 10px;
          color: black;
        }
        .imageUpload {
          width: 200px;
        }
        .btnEnvoyer {
          color: white;
          display: block;
          margin-left: auto;
          width: 80px;
        }
      }
    }
  }
  .publicationWrapper {
    padding: 15px;
    .noPubli {
      padding-top: 30px;
    }
  }
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  position: relative;
  margin: 15px 0px;
  background-color: #4e5166;
  border-radius: 15px;
  transition: 200ms;
  z-index: 1;
  svg {
    transition: 200ms;
    cursor: pointer;
    text-align: center;
  }
  .icon_cancel {
    &:hover {
      color: $color-1;
    }
  }
  .icon_validate {
    &:hover {
      color: rgb(4, 102, 4);
    }
  }
  .delete_image_icon {
    display: none;
    &:hover {
      color: red;
    }
  }
  .iconWrapper {
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    width: 60px;
    svg {
      display: none;
    }
  }

  .btnSupprImage {
    position: absolute;
    right: 0;
    top: 70%;
    margin-right: 15px;
    border-radius: 15px;
    padding: 6px;
  }

  .headerPubli {
    width: 50%;
    input {
      cursor: pointer;
      position: absolute;
      right: 60px;
      top: 26px;
      height: 16px;
      width: 16px;
    }
    button {
      position: absolute;
      right: 60px;
      top: 26px;
    }
    .authorPubli {
      display: block;
      width: 100%;
      font-size: 1.15rem;
      font-weight: 600;
    }
    .fa-bars {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
    }
    .faHidden {
      display: none;
    }
  }
  .menuEditing {
    margin-left: auto;
    border: 0.8px solid $white;
    border-radius: 7px;
    animation-duration: 0.2s;
    animation-name: slit-in-vertical;

    ul {
      margin: 10px;
      li {
        cursor: pointer;
        padding: 10px;
        font-weight: 500;
        opacity: 0.5;
        transition: 200ms;
        &:hover {
          opacity: 1;
        }
        // border-top: 0.5px dashed white;
      }
      .liSuppr {
        border-top: 0.5px dashed white;
        &:hover {
          color: rgb(184, 19, 19);
        }
      }
      .liModif {
        &:hover {
          color: #ffd7d7;
        }
      }
      .liValid {
        &:hover {
          opacity: 1;
          color: rgb(8, 94, 8);
        }
      }
    }
  }
  .menuHidden {
    display: none;
  }
  .publicationContent {
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: black;
    background: rgb(243, 243, 243);
  }
  img {
    cursor: pointer;
    // margin: auto;
    margin: 15px auto;
    max-width: 70%;
    max-height: 70%;
    &:active {
      z-index: 1000;
      transform: scale(1.2);
    }
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    z-index: -12;
    width: 100%;
    button {
      width: 100px;
    }
  }
  .dateCreation {
    font-size: 0.8rem;
    text-align: right;
  }
}
.footerPost {
  margin: auto;
  z-index: 20;
  display: flex;

  svg {
    height: 20px;
  }
}
.cardWrapperModif {
  &:hover {
    .btnWrapper {
      opacity: 1;
      z-index: 2;
    }
  }
}

.slit-in-vertical {
  -webkit-animation: slit-in-vertical 0.45s ease-out both;
  animation: slit-in-vertical 0.45s ease-out both;
}

/**
 * ----------------------------------------
 * animation slit-in-vertical
 * ----------------------------------------
 */
@-webkit-keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
@keyframes card-apparition {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@mixin cards-animation() {
  animation: card-apparition 1s ease-in-out forwards;
  opacity: 0;
}
/* Mobiles */
@media screen and (max-width: 760px) {
  section {
    width: 98%;
  }
  .mainWrapper {
    .createPostContainer {
      form {
        .picker-container {
          .emoji-icon {
            left: 90%;
            bottom: 50%;
          }
        }
      }
    }
  }
  .cardWrapper {
    .headerPubli {
      svg {
        display: none;
      }
    }
    .iconWrapper {
      svg {
        display: block;
      }
    }
    .update_icon {
      display: block;
    }
    .delete_icon {
      display: block;
    }
    button {
      display: none;
    }
    .delete_image_icon {
      position: absolute;
      right: 50px;
    }
  }
}
/* Tablettes */
@media screen and (min-width: 760px) and (max-width: 1096px) {
  section {
    width: 98%;
  }
}
@media screen and (max-width: 1400px) {
  .btnSupprImage {
    display: none;
  }
  .cardWrapper {
    .delete_image_icon {
      display: block;
      position: absolute;
      right: 75px;
      top: 60%;
    }
  }
}
@for $i from 0 to 10 {
  .d#{$i} {
    @include cards-animation();
    animation-delay: #{$i * 0.2}s;
  }
}
